$font-familly-sans-serif: 'Open Sans', sans-serif;
$edit-icon: '\f040';
$cancel-icon: '\f00d';
$update-icon: '\f00c';
$delete-icon: '\f00d';

$update-text: 'Update';
$cancel-text: 'Cancel';
$edit-text: 'Edit';
$delete-text: 'Delete';